ContentType profile parameter should handle quoted string

We use the following notation to associate a hyperschema to a response.

`Content-Type: application/json; profile=schemaPath.json`

According to [RFC2616 section 3.6](http://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.6), parameter values can be either a token or a quoted string.  Therefore, the following should also be valid.

`Content-Type: application/json; profile="schemaPath.json"`

Jsonay treats the quotes as part of the token instead of as a grouping notation and fails to load the hyperschema.  The reason I ask for this update is because some more traditional REST clients are failing to parse this parameter.  We want to be able to support both jsonary and something like Jersey in Java.

I'm happy to do a patch request, but I would appreciate getting pointed in the right direction :)
